body {
  scroll-padding-top: 80px;
}
header {
  background: url('header-bg.jpg') center/cover no-repeat;
}
#skills .card {
  transition: transform .3s;
}
#skills .card:hover {
  transform: scale(1.05);
}
